*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    align-items:  center;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0,0,0, .5);

}

.container {

    padding: 0 80px;

}

.searchContainer {

    padding: 43px 0;
    border-bottom: 1px solid black;
    position: relative;

}

.searchBar {

    border: 2px solid black;
    border-radius: 10px;
    height: 70px;

}

.searchBar input {

    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: unset;
    font-size: 2rem;
    padding: 0 35px;
    outline: 0;

}

.searchContainer img {

    position: absolute;
    right: 90px;
    top: 40%;
    cursor: pointer;

}

.productContainer {

    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.productContainer h1 {

    margin-bottom: 30px;
    width: 100%;

}

.product:hover {

    transform: translateY(-5px);

}

.product img{

    width: 100%;

}

.legend {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.price {

    text-align: right;
    margin-top: 50px;

}

@media(max-width: 768px){

    .product {

        width: 100%;

    }

}